@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  background-image: url('../Images/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
a{
  font-family: 'Open sans',sans-serif;
  font-size: 20px !important;
  font-weight: 400 !important;
}

.home-screen {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "navbar" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}
#navigation-bar {
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  border: 2px solid rgb(125, 138, 181);
  overflow: hidden;
}

#navigation-bar > .nav-item {
  display: inline-block; /* Display nav-items in a row */
}

#navigation-bar > .nav-item:first-child {
  padding-left: 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#navigation-bar > .nav-item:last-child {
  padding-right: 25px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#frame{
  border-radius: 25px;
}
#navigation-bar > .nav-item {
  padding: 10px 25px;
  transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s;
  display: inline-block; /* Display nav-items in a row */
  vertical-align: middle; /* Vertically align text */
}

#navigation-bar > .nav-item:hover {
  transform: scale(1.05); /* Slightly smaller scale */
  background-color: rgba(50, 51, 119, 0.622);
}

#navigation-bar > .nav-item:hover a {
  color: whitesmoke;
}



.navbar { 
  grid-area: navbar; 
}
.main { grid-area: main; }
.footer { grid-area: footer; }

.nav-links {
  background-color: lightgray; /* Replace with your desired color */
}
.navigation-bar img {
  width: 100px;
  height: auto;
  margin: 10px; /* Add space around the image */
}